body {
    background-color: #EFFEEF;
    font-family: Avantgarde, sans-serif;/*"Arial Black", Gadget, sans-serif;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #0B032D;
    border-radius: 4px
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #A73F1B;
    color: white;

}

.active {
    background-color: #DC543F;